.header{
    background-color: lightcoral;
    height: 100px;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 20px;
}
.add-todo{
    padding-left: 100px;
}
.add-label{
    font-size: xx-large;
}
#inputItem{
    font-size: x-large;
    width: 800px;
    margin-right: 60px;
}
.button{
    width: 150px;
    font-size: x-large;
    margin-right: 20px;
}
.heading{
    font-size: large;
    color: gray;
    padding-left: 100px;
}